<app-nav></app-nav>
<div class="container">
    <table class="table table-hover table-bordered" *ngIf="userList">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Address2</th>
                <th scope="col">Country</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>#USER{{user.id}}</td>
                <td>{{user.firstName+" "+user.lastName+" ("+user.userName+")"}}</td>
                <td>{{user.address}}</td>
                <td>{{user.address2}}</td>
                <td>{{user.country}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td><button class="btn btn-danger" (click)="setSelectedUser(user)" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3-fill"></i></button></td>
                <td><button class="btn btn-primary" (click)="setSelectedUser(user)" data-bs-toggle="modal" data-bs-target="#updateModal"><i class="bi bi-pencil-square"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

  <!-- Modal delete -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>Are you sure to delete this book</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser()" data-bs-dismiss="modal" >Delete</button>
        </div>
      </div>
    </div>
  </div>
<!--  -->

<!-- Model Updated Confirmation -->
<!-- Button trigger modal -->

<div class="modal fade" id="updateConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        If you want to update "{{selectedUser?.id}}" book
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveUser()" data-bs-dismiss="modal">Confirm Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Model Update -->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ID:</label>
            <input disabled class="form-control" type="text" value={{selectedUser?.id}} disabled class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">FirstName:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.firstName" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">LastName:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.lastName" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">UserName:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.userName" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.address" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address2:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.address2" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.email" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Country:</label>
            <input type="text" [(ngModel)]="selectedUser && selectedUser.country" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">PhoneNumber:</label>
            <input type="number" [(ngModel)]="selectedUser && selectedUser.phoneNumber" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
  
          <!-- <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#updateConfirmationModal">Update</button>
      </div>
    </div>
  </div>
</div>